<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AuthenticateController</servlet-name>
        <servlet-class>Controller.AuthenticateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>Controller.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTeamController</servlet-name>
        <servlet-class>Controller.UserTeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLeagueController</servlet-name>
        <servlet-class>Controller.UserLeagueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticateController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTeamController</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLeagueController</servlet-name>
        <url-pattern>/league</url-pattern>
    </servlet-mapping>
</web-app>
